@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <title>SignalR Chat Demo</title>
</head>

<div class="container">
    <div class="row p-1">
        <div class="col-1">Online</div>
        <div class="col-5"><input type="text" id="userOnline" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton1" value="Send 自定义消息" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="https://cdn.bootcss.com/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/chat.js"></script>
<script>

    $(function(){

        $.ajax({
            url: "/Home/GetOnline",
            success: function (data, status) {
                $('#userOnline').val(data);
            }
        });
    });
    
    function dosth() {
        $.ajax({
            url: "/Home/Dosth",
            success: function (data, status) {
            }
        });
    }
</script>
